.main-container {
    width: 100%;
    overflow: hidden;
}

.dynamic-sec {
    width: 100%;
    display: flex;
}

.dynamic-img-container {
    width: 60%;
    position: relative;
}
.dynamic-img-container img {
    object-fit: cover;
    width: 100%;
}

.dynamic-content {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dynamic-text-container {
    width: 70%;
}
.dynamic-head {
    font-size: 2.2rem;
    font-weight: 700;
}
.dynamic-text {
    margin: 1.6rem 0;
    font-size: 13px;
    color: var(--dark-gray);
    line-height: 1.6em;
}

.change-btns {
    width: max-content;
    position: absolute;
    bottom: 5px;
    right: -120px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn,
.next-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease;
}

.prev-btn img,
.next-btn img {
    width: 20%;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: var(--very-dark-gray);
}

.static-sec {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    position: relative;
    top: -5px;
}
.static-imgs {
    margin-bottom: 0;
}
.static-first-img {
    width: 32%;
}
.static-second-img {
    width: 31%;
}
.static-imgs img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.static-content {
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static-text-container {
    width: 85%;
}
.static-head {
    font-weight: bold;
    font-size: 13px;
    color: black;
    letter-spacing: 0.5em;
    margin-bottom: 1rem;
}
.static-text {
    font-size: 12px;
    line-height: 1.8em;
    color: var(--dark-gray);
}

@media screen and (max-width: 1250px) {
    .prev-btn,
    .next-btn {
        width: 50px;
        height: 50px;
    }

    .change-btns {
        right: -100px;
    }
}

@media screen and (max-width: 1200px) {
    .prev-btn,
    .next-btn {
        width: 45px;
        height: 45px;
    }

    .change-btns {
        right: -90px;
    }

    .dynamic-text-container {
        width: 80%;
    }

    .dynamic-head {
        font-size: 1.8rem;
    }
    .dynamic-text {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 1120px) {
    .prev-btn,
    .next-btn {
        width: 40px;
        height: 40px;
    }

    .change-btns {
        right: -80px;
    }
}

@media screen and (max-width: 980px) {
    .dynamic-sec {
        display: flex;
        flex-direction: column;
    }
    .dynamic-img-container {
        width: 100%;
    }
    .change-btns {
        right: 0;
    }
    .prev-btn,
    .next-btn {
        width: 50px;
        height: 50px;
    }
    .dynamic-content {
        width: 100%;
        margin: 3rem auto;
    }
    .dynamic-text-container {
        width: 70%;
    }
    .dynamic-text {
        margin: 1.5rem 0;
    }

    .static-sec {
        flex-wrap: wrap;
        height: 100%;
    }
    .static-imgs {
        width: 50vw;
    }
    .static-content {
        width: 50vw;
    }
    .static-text-container {
        width: 80%;
        z-index: 100;
        transform: translateY(80%);
    }
    .static-head {
        font-size: 1rem;
    }
    .static-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 850px) {
    .static-sec {
        flex-direction: column;
    }
    .static-imgs {
        width: 100%;
    }
    .static-content {
        width: 100%;
        margin: 3rem 0;
    }
    .static-text-container {
        transform: translateY(0);
    }
}

@media screen and (max-width: 750px) {
    .prev-btn,
    .next-btn {
        width: 40px;
        height: 40px;
    }
    .dynamic-text-container {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .dynamic-text-container {
        width: 90%;
    }
}
